<tr id="rubik-filter-condition-template">
    <td class="rubik-handle-cell"><i class="rubik-handle"></i></td>
    <td class="input rubik-field-cell"><select class="custom-select pretty-select form-control" name="field"></select></td>
    <td class="input rubik-operator-cell"><select class="custom-select pretty-select form-control" name="operator"></select></td>
    <td class="input rubik-cond-value-cell"><input class="form-control" type="text" name="condition_value"/></td>
    <td class="rubik-controls"><roundcube:button class="btn-primary delete"/></td>
</tr>