<table class="hidden">
    <tr id="rubik-filter-condition-template" class="row">
        <td class="col-9 col-sm-1 order-1"><i class="rubik-handle"></i></td>
        <td class="input col-12 col-sm-5 col-md-2 order-3 ">
            <roundcube:object name="plugin.rubik_filter_field_select"/>
        </td>
        <td class="input col-12 col-sm-5 col-md-3 order-4">
            <roundcube:object name="plugin.rubik_filter_operator_select"/>
        </td>
        <td class="input col-12 col-md-5 order-6"><input placeholder="<roundcube:label name='rubik_filter.label_value'/>" class="form-control" type="text" name="condition_value"/></td>
        <td class="col-3 order-2 col-sm-1 order-sm-5 order-md-7 rubik-controls"><button type="button" class="btn-primary delete"></button></td>
    </tr>
    <tr id="rubik-filter-action-template" class="row">
        <td class="order-1 col-9 col-sm-1"><i class="rubik-handle"></i></td>
        <td class="input order-3 col-12 col-sm-4">
            <roundcube:object name="plugin.rubik_filter_action_select"/>
        </td>
        <td class="input order-4 col-12 col-sm-6">
            <roundcube:object name="plugin.rubik_filter_action_mailbox_select" class="hidden"/>
            <input placeholder="<roundcube:label name='rubik_filter.label_value'/>" type="text" class="form-control" name="action-value"/>
        </td>
        <td class="rubik-controls order-2 order-sm-5 col-sm-1 col-3"><button type="button" class="btn-primary delete"></button></td>
    </tr>
</table>

<div class="formcontainer">
    <div class="formcontent">
        <form id="rubik-rule-form" class="propform">
            <fieldset>
                <legend><roundcube:label name="rubik_filter.label_filter_name"/></legend>
                <input id="filter-name-input" class="form-control" type="text" name="filter-name"/>
            </fieldset>
            <fieldset>
                <legend><roundcube:label name="rubik_filter.label_conditions"/></legend>
                <div class="container-fluid rubik-short-option">
                    <div class="row">
                        <div class="col-11 col-sm-auto" style="padding-left: 0;">
                            <label><roundcube:label name="rubik_filter.label_condition_type"/></label>
                        </div>
                        <div class="col-12 col-sm-4">
                            <roundcube:object id="condition-type-input" name="plugin.rubik_filter_condition_type_select"/>
                        </div>
                    </div>
                </div>
                <div class="propform filter-table">
                    <div id="rubik-condition-list" class="container-fluid"></div>
                </div>
                <div class="inter-formbuttons">
                    <roundcube:button class="btn-primary create" type="button" command="add_condition" label="rubik_filter.label_add_condition"/>
                </div>
            </fieldset>
            <fieldset>
                <legend><roundcube:label name="rubik_filter.label_actions"/></legend>
                <div class="container-fluid rubik-short-option">
                    <div class="row">
                        <div class="col-11 col-sm-auto" style="padding-left: 0;">
                            <label><roundcube:label name="rubik_filter.label_post_action"/></label>
                        </div>
                        <div class="col-12 col-sm-6">
                            <roundcube:object name="plugin.rubik_filter_post_actions_select"/>
                        </div>
                    </div>
                </div>
                <div class="propform filter-table">
                    <div id="rubik-action-list" class="container-fluid"></div>
                </div>
                <div class="inter-formbuttons">
                    <roundcube:button class="btn-primary create" command="add_action" type="button" label="rubik_filter.label_add_action"/>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="formbuttons">
        <roundcube:button class="btn-primary submit" type="button" command="save_filter" label="save"/>
    </div>
</div>