<div class="formcontainer">
    <div class="formcontent">
        <form id="message-form" class="propform">
            <fieldset>
                <legend><roundcube:label name="rubik_filter.label_vacation_reply"/></legend>
                <div id="vacation-message-wrapper">
                    <table class="propform">
                        <tr>
                            <td><roundcube:label name="rubik_filter.label_vacation_message_name" for="reply-filename"/></td>
                            <td><input type="text" name="reply-filename"></td>
                        </tr>
                        <tr>
                            <td><roundcube:label name="rubik_filter.label_vacation_message" for="reply-text"/></td>
                            <td><textarea rows="10" name="reply-text"></textarea></td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="formbuttons">
        <roundcube:button class="btn-primary submit btn" type="button" label="save" command="save_message"/>
    </div>
</div>