<roundcube:include file="includes/layout.html" />
<roundcube:include file="includes/menu.html" />
<roundcube:include file="includes/settings-menu.html" condition="env:task == 'settings'" />

<div id="layout-list" class="listbox selected">
    <div class="header">
        <a class="button icon back-sidebar-button" href="#sidebar"><span class="inner"><roundcube:label name="settings" /></span></a>
        <span id="aria-label-folderslist" class="header-title"><roundcube:var name="env:rubik_section_title" /></span>
        <a class="button icon toolbar-menu-button" href="#list-menu"><span class="inner"><roundcube:label name="menu" /></span></a>
    </div>
    <div class="scroller">
        <roundcube:object data-label-msg="listempty" class="listing" noheader="true" role="listbox"
                          data-list="rubik_entity_list" name="plugin.rubik_entity_list"/>
    </div>
</div>
<div id="layout-content" role="main">
    <h2 id="aria-label-toolbar" class="voice"><roundcube:label name="arialabeltoolbar" /></h2>
    <div class="header" role="toolbar" aria-labelledby="aria-label-toolbar">
        <a class="button icon back-list-button" href="#back"><span class="inner"><roundcube:label name="back" /></span></a>
        <span class="header-title"></span>
        <div id="settings-toolbar" class="toolbar menu">
            <roundcube:button command="add" type="link" class="create enabled" classAct="create"
                              label="create" title="create" innerClass="inner" data-fab="true"/>
            <roundcube:button command="remove" type="link" class="delete disabled" classAct="delete"
                              label="delete" title="delete" innerClass="inner"/>
        </div>
    </div>
    <div class="iframe-wrapper">
        <roundcube:object name="contentframe" id="content-frame" src="env:blankpage" />
    </div>
</div>

<roundcube:include file="includes/footer.html" />
