<roundcube:include file="includes/layout.html" xmlns:roundcube="http://www.w3.org/1999/html"/>

<div class="formcontainer">
    <div class="formcontent">
        <form id="vacation-form" class="propform">
            <fieldset>
                <legend><roundcube:label name="rubik_filter.label_vacation_range"/></legend>
                <div id="vacation-date-wrapper">
                    <input type="date" name="date-start"/><span>-</span><input type="date" name="date-end"/>
                </div>
            </fieldset>
            <fieldset>
                <legend><roundcube:label name="rubik_filter.label_vacation_message"/></legend>
                <textarea name="vacation-message"></textarea>
            </fieldset>
        </form>
    </div>
    <div class="formbuttons">
        <roundcube:button class="btn-primary submit btn" type="button" label="rubik_filter.label_vacation_save" command="save_vacation"/>
    </div>
    <roundcube:object name="plugin.rubik_vacation_form" class="propform" />
</div>

<roundcube:include file="includes/footer.html" />