#rubik-rule-form td {
    padding: 0.25rem 1rem 0.25rem 0;
}

tr.rubik-filter-condition-row, tr.rubik-filter-action-row {
    margin-bottom: -0.5rem;
    padding:0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: #f4f4f4;
    border:1px solid rgba(0,0,0,0.25);
}

.rubik-handle {
    display: block;
    text-align: center;
    cursor:grab;
}

.rubik-handle::before {
    content: '\2261';
    font-size: 2rem;
}

.rubik-controls button.btn.delete::before {
    margin-right: 0 !important;
}

#rubik-rule-form td.rubik-handle-cell {
    padding:0;
}

tr.dragged {
    color: #2c363a;
    border-color: #37beff;
    box-shadow: 0 0 0 .2rem rgba(55,190,255,0.25);
}

table.propform .rubik-handle-cell {
    width:5%;
}

table.propform .rubik-controls {
    width:5%;
    text-align: right;
}

table.propform .rubik-field-cell {
    width:15%;
    min-width:9rem;
}

table.propform .rubik-operator-cell {
    width:20%;
}

table.propform .rubik-cond-value-cell {
    width:55%;
}

table.propform .rubik-action-cell {
    width:25%;
}

table.propform .rubik-action-value-cell {
    width:65%;
}

.rubik-filter-condition-row input, .rubik-filter-condition-row select,
.rubik-filter-action-row input, .rubik-filter-action-row select{
    width: 100%;
}

#rubik-condition-list td, #rubik-action-list td {
    border: 0;
}

#rubik-rule-form table.filter-table {
    border: 1px solid silver;
    min-width:650px;
}

.inter-formbuttons {
    padding: 0.5rem 1rem 0.5rem 0;
}

#rubik-rule-form table thead {
    background-color:rgba(0,0,0,0.10);
}

#rubik-rule-form table th {
    padding-top:0.6rem;
    padding-bottom:0.2rem;
    text-align:left;
}

.propform.larry.twocols td:first-child {
    width:33.33%;
}

.propform.larry.twocols td:last-child {
    width: 66.66%;
}


#rubik-rule-form fieldset .formbuttons {
    padding-left: 0;
}

.rubik-short-option {
    display:flex;
    margin-bottom:1em;
    justify-content: start;
    align-items: center;
}

.rubik-short-option label, .rubik-short-option select {
    width: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.rubik-short-option label {
    margin-right: 1em;
}

#vacation-date-wrapper {
    display: flex;
    align-items: center;
}

#vacation-date-wrapper span {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

#rubik-entity-list td.checkbox-cell label.custom-control-label {
    vertical-align: middle;
}

#rubik-entity-list td.checkbox-cell {
    width: 3rem;
    padding-right: 0;
}

html.touch #rubik-entity-list td.checkbox-cell {
    width: 3.5rem;
}

#rubik-entity-list td.date-range {
    font-size: 0.8rem;
    font-weight: bold;
}

#content-frame {
    width: 100%;
    height: 100%;
}

#content-frame.larry {
    border: 0;
    border-radius: 4px;
}

.formbuttons.larry {
    padding-top: 8px;
}


.formbuttons.larry .delete {
    border-color: #ff5552;
    color:white;
    height:26px;
    width:30px;
    background: #ff5552 url('/skins/larry/images/listicons.png?v=4f40.10460') 4px 1078px;
}

#settings-sections .vacation a {
    background-position: 6px -526px;
}

#settings-sections .vacation.selected a {
    background-position: 6px -550px;
}

.formbuttons.larry .delete:hover {
    background-color: #ff3c38;
    border-color: #ff3c38;
    box-shadow: 0 0 5px 2px rgba(255,85,82,0.6);
}

.formbuttons.larry .delete:focus {
    box-shadow: 0 0 5px 2px rgba(255,85,82,0.6);
}

.hidden {
    display: none;
}

#rubik-entity-list .post_continue td:first-child::before {
    content: "⯆ ";
}

#rubik-entity-list .post_discard td:first-child::before {
    content: "🞆 ";
    /*content: "⦾ ";*/
}

#rubik-entity-list .post_inbox td:first-child::before {
    content: "🌑 ";
    /*content: "⦿ ";*/
}